<button class="uz-select-toggle"
        type="button"
        aria-haspopup="true"
        #toggleButton
        [attr.id]="toggleId"
        [attr.aria-expanded]="expanded"
        [attr.aria-controls]="optionsId"
        (click)="toggle()">
  <span>{{toggleText}}</span>
  <i class="icon-triangle-down uz-select-arrow" role="presentation"></i>
</button>
<div class="uz-select-options"
     role="group"
     [attr.id]="optionsId"
     [attr.aria-expanded]="expanded"
     [attr.aria-labelledby]="toggleId">
  <ng-content></ng-content>
</div>
