@require '../yuzi.styl';

dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  &.inverted .dropdown-toggle {
    background-color: clr-dropdown-primary;
    border-color: clr-dropdown-primary;
    color: #FFF;
    &:hover {
      background-color: clr-dropdown-inv-hover;
      border-color: clr-dropdown-inv-hover;
    }
  }
  &.right-edge .dropdown-options {
    left: auto;
    right: 0;
  }
  .dropdown-toggle {
    background-color: #FFF;
    border: 1px solid clr-dropdown-primary;
    border-radius: 0;
    box-sizing: border-box;
    color: clr-dropdown-primary;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: .6em 1.5em;
    position: relative;
    text-transform: uppercase;
    transition: color tm-fast, border-color tm-fast, background-color tm-fast;
    z-index: 1;
    &:hover {
      background-color: clr-dropdown-hover;
    }
    &.dropdown-open .dropdown-arrow {
      transform: rotate(180deg);
    }
    > * {
      vertical-align: middle;
    }
  }
  .dropdown-arrow {
    display: inline-block;
    line-height: 0;
    margin-left: 5px;
    transform: rotate(0);
    transition: transform tm-fast;
  }
  .dropdown-options {
    border: 1px solid clr-dropdown-primary;
    left: 0;
    margin-top: -1px;
    min-width: 100%;
    position: absolute;
    z-index: 0;
  }
  .dropdown-option {
    background: #FFF;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: calc('.6em + 1px') 1.5em;
    text-transform: uppercase;
    transition: background-color tm-fast;
    white-space: nowrap;
    &:hover {
      background: clr-dropdown-hover;
    }
    &.selected {
      background: clr-dropdown-selected;
      color: #FFF;
      pointer-events: none;
    }
  }
}
