<button class="{{::$dropdown.toggleClass}}"
        id="{{::$dropdown.toggleId}}"
        aria-haspopup="true"
        aria-expanded="{{$dropdown.show}}"
        aria-controls="{{::$dropdown.optionsId}}"
        ng-class="{'dropdown-open': $dropdown.show}"
        ng-click="$dropdown.toggle()"
        track="toggle-{{$dropdown.options[$dropdown.selectedIndex].label}}">
  <span translate>{{$dropdown.label}}</span>
  <i class="icon-triangle-down dropdown-arrow" role="presentation"></i>
</button>
<div class="ng-hide {{::$dropdown.optionsClass}}"
    id="{{::$dropdown.optionsId}}"
    role="group"
    aria-expanded="{{$dropdown.show}}"
    aria-labelledby="{{::$dropdown.toggleId}}"
    ng-show="$dropdown.show">
  <a class="{{::$dropdown.optionClass}}"
     ng-repeat="option in $dropdown.options"
     ng-href="{{::option.value}}"
     ng-attr-target="{{::option.target}}"
     track="option-{{::option.label}}"
     translate>{{::option.label}}</a>
</div>
