@require '../yuzi.styl';

.accordion-container {
  position: relative;
  .expand-collapse-all-container {
    position: relative;
    text-align: right;
  }
  .expand-collapse-all {
    background: none;
    border: none;
    color: clr-link;
    cursor: pointer;
    font-weight: 600;
    margin-right: 15px;
    text-transform: uppercase;
    i {
      font-size: .8em;
      margin-left: 10px;
    }
  }
  .accordion {
    .accordion-label {
      background: #FFF;
      border-top: 1px solid #CCC;
      color: clr-link;
      cursor: pointer;
      display: block;
      font-size: 1.2em;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 2px;
      padding: 30px 20px;
      position: relative;
      .accordion-expand-btn {
        position: absolute;
        right: 20px;
        top: calc('50% - .6em');
      }
      .accordion-label-text {
        display: inline-block;
        padding-right: 30px;
      }
      &:hover,
      &:hover + .accordion-value {
        background: #F4F4F4;
      }
      &:first-child {
        border-top: 0;
      }
    }
    .accordion-value {
      background-color: #FFF;
      box-sizing: border-box;
      color: #111;
      font-size: 1em;
      height: 0;
      line-height: 1.5;
      overflow-y: hidden;
      padding: 0 20px 30px;
      &.accordion-expanded {
        overflow-y: auto;
      }
    }
  }
}
