<div class="accordion-container">
  <div class="expand-collapse-all-container hide-mobile">
    <button class="expand-collapse-all" ng-click="$accordion.expandOrCollapseAll()">
      {{$accordion.isExpandMainControl ? 'VIEW_ALL' : 'HIDE_ALL' | translate}}<i ng-class="$accordion.isExpandMainControl ? 'icon-plus': 'icon-minus'" aria-hidden="true"></i>
    </button>
  </div>
  <dl track-feature="$track.features.accordion" class="accordion">
    <dt class="accordion-label"
        ng-repeat-start="item in $accordion.items"
        ng-click="$accordion.toggleItem($index)"
        aria-expanded="{{item.$expanded || false}}"
        track="toggle-{{::item[$accordion.value]}}-{{!item.$expanded ? 'show' : 'hide'}}">
      <span class="accordion-label-text" ng-bind="item[$accordion.label] | translate"></span>
      <i class="accordion-expand-btn" ng-class="item.$expanded ? 'icon-minus' : 'icon-plus'" aria-hidden="true"></i>
    </dt>
    <dd class="accordion-value" accordion-item="item" animate-time="200" ng-repeat-end>
      <span class="accordion-value-html"
            translate
            translate-values="item[$accordion.interpolations]"
            translate-compile>{{item[$accordion.value]}}</span>
    </dd>
  </dl>
</div>
