.example-h1
  border-bottom 1px solid #CCC
  color #666
  font-size 24px
  font-weight 600
  margin 1.5em 0
  padding-bottom 15px
  text-transform uppercase

.example-h2
  color #333
  font-size 18px
  font-weight 500
  margin 1.5em 0

.container
  margin 0 auto
  max-width 920px

example
  display block
  margin 20px 0
  .example-container
    border 1px solid #666
    > *
      box-sizing border-box
      padding 20px
  .example-code
    background #666
    color #FEFEFE
    max-width 100%
    overflow-x auto

p
  color #111
  font-size 14px
  line-height 1.5
  margin 1em 0
  code
    color #FF0000

*:focus
  outline 5px solid #A2CB4C !important
