// Colors
clr-link ?= #0099ff;
clr-link-active ?= #0077dd;
clr-dropdown-hover ?= #F2F2F2;
clr-dropdown-inv-hover ?= clr-link-active;
clr-dropdown-options-border ?= #757588;
clr-dropdown-option-border ?= #ccc;
clr-dropdown-primary ?= clr-link;
clr-dropdown-selected ?= #757588;

// Effects
tm-fast ?= .4s;
tm-norm ?= 1s;
tm-slow ?= 2s;

@require '../../node_modules/kouto-swiss';
box-sizing-reset();
meyer-reset();
ks-normalize();

body {
  font-family: font-stack('Helvetica');
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: clr-link;
  text-decoration: none;
  transition: color time-hover, border-bottom-color time-hover, background-color time-hover;
  &:hover {
    border-color: clr-link-active;
    color: clr-link-active;
  }
}

.inverse-btn {
  background: #fff;
  border: 1px solid clr-link;
  color: clr-link;
  display: inline-block;
  font-size: .9em;
  font-weight: 600;
  line-height: .75;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    border-color: clr-link-active;
    color: clr-link-active;
  }
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
